In [3]:
import pandas as pd

In [4]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162857,ZWE,Africa,Zimbabwe,2022-02-14,231603.0,222.0,171.571,5374.0,0.0,1.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
162858,ZWE,Africa,Zimbabwe,2022-02-15,231603.0,0.0,142.857,5374.0,0.0,1.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
162859,ZWE,Africa,Zimbabwe,2022-02-16,232213.0,610.0,210.429,5379.0,5.0,1.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
162860,ZWE,Africa,Zimbabwe,2022-02-17,232598.0,385.0,222.571,5381.0,2.0,1.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
162861,ZWE,Africa,Zimbabwe,2022-02-18,233030.0,432.0,259.429,5385.0,4.0,1.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [7]:
df[df.continent=="Asia"].groupby("location")["new_cases"].agg("sum")

location
Afghanistan               171857.0
Armenia                   413295.0
Azerbaijan                768019.0
Bahrain                   485163.0
Bangladesh               1929154.0
Bhutan                      9210.0
Brunei                     27599.0
Cambodia                  125201.0
China                     106965.0
Georgia                  1526205.0
Hong Kong                  21750.0
India                   42802505.0
Indonesia                5089637.0
Iran                     6913427.0
Iraq                     2288777.0
Israel                   3523457.0
Japan                    4337778.0
Jordan                   1553758.0
Kazakhstan               1384317.0
Kuwait                    610801.0
Kyrgyzstan                200287.0
Laos                      140604.0
Lebanon                  1039299.0
Macao                         78.0
Malaysia                 3166023.0
Maldives                  163581.0
Mongolia                  893721.0
Myanmar                   559314.0
Nepal                     975132.0
Northern Cyprus                0.0
Oman                      372060.0
Pakistan                 1498676.0
Palestine                 627956.0
Philippines              3648925.0
Qatar                     353346.0
Saudi Arabia              737334.0
Singapore                 551519.0
South Korea              1858008.0
Sri Lanka                 634333.0
Syria                      53403.0
Taiwan                     19863.0
Tajikistan                 17783.0
Thailand                 2693358.0
Timor                      22261.0
Turkey                  12530451.0
Turkmenistan                   0.0
United Arab Emirates      873092.0
Uzbekistan                234872.0
Vietnam                  2685463.0
Yemen                      11731.0
Name: new_cases, dtype: float64

In [79]:
#среднее по стране
df[df.continent=='Asia'].groupby('location')['new_deaths'].mean()

location
Afghanistan              10.782235
Armenia                  11.910791
Azerbaijan               12.968927
Bahrain                   2.035461
Bangladesh               41.153627
Bhutan                    0.012285
Brunei                    0.141414
Cambodia                  8.739130
China                     6.093668
Georgia                  22.989796
Hong Kong                 0.345845
India                   710.657264
Indonesia               205.695775
Iran                    184.140903
Iraq                     34.644351
Israel                   14.019971
Japan                    29.127544
Jordan                   19.638329
Kazakhstan               27.162824
Kuwait                    3.683673
Kyrgyzstan                4.282387
Laos                      2.115385
Lebanon                  13.964838
Macao                          NaN
Malaysia                 45.846591
Maldives                  0.438729
Mongolia                  5.172662
Myanmar                  28.002899
Nepal                    18.498447
Northern Cyprus                NaN
Oman                      6.123188
Pakistan                 42.640114
Palestine                 7.707914
Philippines              74.076203
Qatar                     0.953824
Saudi Arabia             12.885222
Singapore                 1.338571
South Korea              10.073973
Sri Lanka                23.014430
Syria                     4.398844
Taiwan                    1.160763
Tajikistan                0.190259
Thailand                 31.380556
Timor                     0.391850
Turkey                  130.553977
Turkmenistan                   NaN
United Arab Emirates      3.269615
Uzbekistan                2.325648
Vietnam                  69.292254
Yemen                     3.204545
Name: new_deaths, dtype: float64

In [86]:
# Среднее по материку
avg_continent = df[df.continent=='Asia'].groupby('continent')['new_deaths'].mean()[0]
print(avg_continent)

42.64255647312105

In [87]:
variable = df[df.continent=='Asia'].groupby('location')['new_deaths'].mean()
variable[variable < 42]

location
Afghanistan             10.782235
Armenia                 11.910791
Azerbaijan              12.968927
Bahrain                  2.035461
Bangladesh              41.153627
Bhutan                   0.012285
Brunei                   0.141414
Cambodia                 8.739130
China                    6.093668
Georgia                 22.989796
Hong Kong                0.345845
Iraq                    34.644351
Israel                  14.019971
Japan                   29.127544
Jordan                  19.638329
Kazakhstan              27.162824
Kuwait                   3.683673
Kyrgyzstan               4.282387
Laos                     2.115385
Lebanon                 13.964838
Maldives                 0.438729
Mongolia                 5.172662
Myanmar                 28.002899
Nepal                   18.498447
Oman                     6.123188
Palestine                7.707914
Qatar                    0.953824
Saudi Arabia            12.885222
Singapore                1.338571
South Korea             10.073973
Sri Lanka               23.014430
Syria                    4.398844
Taiwan                   1.160763
Tajikistan               0.190259
Thailand                31.380556
Timor                    0.391850
United Arab Emirates     3.269615
Uzbekistan               2.325648
Yemen                    3.204545
Name: new_deaths, dtype: float64